{% extends 'base.html.twig' %}

{% block body %}
    <h2>Liste de tout les cartoons</h2>
    <div class="add">
    <a href="{{ path('program_new') }}"><input type ="submit" value="Ajouter un nouveau cartoon"></a>
    </div> 
        <div class="cartoons-list">
        {% for program in programs %}
            
                <h3>{{ program.title }}</h3>
                <img class="align-self-start mr-3" src="{{program.poster}}" alt="{{ program.title }} poster">
                <p class="summary">{{ program.summary }}</p>
                
                    <a href="{{ path('program_show', {'id': program.id}) }}"><input type ="submit" value="Voir le détail"></a>
                    <a href="{{ path('program_edit', {'id': program.id}) }}"><input type ="submit" value="Modifier"></a>
        {% endfor %}
        </div>
{% endblock %}
