{% extends 'base.html.twig' %}

{% block body %}
  <div class="detailCartoon">
            <h2>{{ program.title }}</h2>
            
            <h3>Résumé</h3>
            <p class="summary">{{ program.summary }}</p>
            
            <h3>Affiche</h3>
            <img class="align-self-start mr-3" src="{{program.poster}}" alt="{{ program.title }} poster">
    <h3>Episodes</h3>
    <ul>
  {% for episode in episodes %}
    <a href="{{ path('program_episode_show', {programId: program.id, episodeId: episode.id}) }}"><li>épisode {{ episode.number }}</li></a>
  {% endfor %}
    </ul>
    <div>
      <a href="{{ path('episode_new') }}"><input type ="submit" value="Ajouter un nouvel épisode"></a>
    </div>
    <div class="backToList">
        <p><a href="{{ path('program_index') }}" style="color:white;">revenir à la liste</a></p>
    </div>

    <a href="{{ path('program_edit', {'id': program.id}) }}"><input type ="submit" value="Modifier le cartoon"></a>

    {{ include('program/_delete_form.html.twig') }}
  </div>
{% endblock %}
